## Creating the Data: Econ 143 Final Project Sp24

*  **includes sources for where the data came from, in addition to interpretations of all columns

In [31]:
import pandas as pd
import numpy as np

In [16]:
column_names = ["datetime", "gamemode", "p1tag", "p1trophies", "p1crowns", "p1card1", "p1card2", "p1card3", "p1card4", "p1card5", "p1card6", "p1card7", "p1card8", "p2tag", "p2trophies", "p2crowns", "p2card1", "p2card2", "p2card3", "p2card4", "p2card5", "p2card6", "p2card7", "p2card8"]

Data Sources:
* df_1, df_2, df_3, df_4: https://www.kaggle.com/datasets/s1m0n38/clash-royale-games
* df_demog: https://www.kaggle.com/datasets/lucianomartins/data-game-clashroyale

In [17]:
# ALL Clash Royale Games played in 4/14, 4/15, 4/16, 4/17 of 2023

df_1 = pd.read_csv("20230414.csv", names = column_names)
df_2 = pd.read_csv("20230415.csv", names = column_names)
df_3 = pd.read_csv("20230416.csv", names = column_names)
df_4 = pd.read_csv("20230417.csv", names = column_names)

In [21]:
df = pd.concat([df_1, df_2, df_3, df_4])  # Combining all the data into 1 dataframe
df

'''Interpretation of Columns
* datetime: time the game ended
* gamemode: index corresponding to a different gamemode. Certain numbers correspond to draft, which is the mode I wanted to analyze. 

Player-specific variables: (p1 and p2)
* trophies: The number of trophies the player had before playing the match.
* crowns: The number of crowns a player won. 
* p1card 1-8: The 8 unique cards that a player picked as their deck. 

Explanations for the indexes can be found on https://www.kaggle.com/datasets/s1m0n38/clash-royale-games. 
'''

,datetime,gamemode,p1tag,p1trophies,p1crowns,p1card1,p1card2,p1card3,p1card4,p1card5,...,p2trophies,p2crowns,p2card1,p2card2,p2card3,p2card4,p2card5,p2card6,p2card7,p2card8
0,20230414T000000.000Z,72000006,L8YYVY9UY,7500,0,26000015,26000023,26000027,26000085,27000012,...,7500,3,26000004,26000027,26000042,26000046,26000051,26000083,28000000,28000001
1,20230414T000000.000Z,72000333,82UCRRL9,30,1,26000007,26000016,26000034,26000044,26000080,...,0,0,26000006,26000021,26000025,26000074,27000012,28000000,28000011,28000012
2,20230414T000000.000Z,72000333,98890C8GQ,0,0,26000007,26000012,26000021,26000053,27000003,...,30,3,26000002,26000006,26000028,26000031,26000040,26000069,27000004,28000009
3,20230414T000000.000Z,72000333,992JPJCU9,0,0,26000020,26000021,26000054,26000072,26000087,...,30,1,26000007,26000011,26000019,26000025,26000050,26000053,26000069,28000003
4,20230414T000000.000Z,72000333,PRGPPY2QV,0,0,26000011,26000015,26000026,26000047,26000062,...,30,1,26000030,26000044,26000051,26000074,26000085,28000014,28000016,28000018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786379,20230417T235959.000Z,72000333,8Y9RCRJPQ,0,0,26000028,26000045,26000053,26000077,27000010,...,30,1,26000011,26000018,26000041,26000056,26000057,26000062,26000072,28000008
786380,20230417T235959.000Z,72000333,GGYYLP2L,0,0,26000001,26000010,26000013,26000028,26000030,...,30,1,26000005,26000009,26000016,26000043,26000083,28000007,28000008,28000015
786381,20230417T235959.000Z,72000333,GRQCJ99,30,2,26000005,26000012,26000025,26000032,26000053,...,0,0,26000016,26000018,26000024,26000043,26000051,28000000,28000005,28000009
786382,20230417T235959.000Z,72000333,PVPJPQQG,0,0,26000007,26000015,26000025,26000027,26000049,...,30,1,26000018,26000020,26000024,26000045,26000072,27000012,28000007,28000017
786383,20230417T235959.000Z,72000333,PVRCYL2P,0,0,26000001,26000013,26000032,26000072,27000005,...,30,3,26000007,26000016,26000021,26000042,26000044,26000051,28000001,28000003

In [39]:
# draft_ids are the indexes corresponding to draft. I isolated the games that were draft games. 

draft_ids = [72000042, 72000333, 72000345, 72000346, 72000201, 72000003, 72000005, 72000013, 72000017, 72000022, 72000030, 72000040, 72000050, 72000051, 72000092, 72000106, 72000110, 72000111, 72000114, 72000115, 72000122, 72000135, 72000137, 72000143, 72000144, 72000153, 72000155, 72000160, 72000162, 72000167, 72000169, 72000175, 72000177, 72000182, 72000184, 72000188, 72000194, 72000348]
df_draft = df[df["gamemode"].isin(draft_ids)]
df_draft

,datetime,gamemode,p1tag,p1trophies,p1crowns,p1card1,p1card2,p1card3,p1card4,p1card5,...,p2trophies,p2crowns,p2card1,p2card2,p2card3,p2card4,p2card5,p2card6,p2card7,p2card8
1,20230414T000000.000Z,72000333,82UCRRL9,30,1,26000007,26000016,26000034,26000044,26000080,...,0,0,26000006,26000021,26000025,26000074,27000012,28000000,28000011,28000012
2,20230414T000000.000Z,72000333,98890C8GQ,0,0,26000007,26000012,26000021,26000053,27000003,...,30,3,26000002,26000006,26000028,26000031,26000040,26000069,27000004,28000009
3,20230414T000000.000Z,72000333,992JPJCU9,0,0,26000020,26000021,26000054,26000072,26000087,...,30,1,26000007,26000011,26000019,26000025,26000050,26000053,26000069,28000003
4,20230414T000000.000Z,72000333,PRGPPY2QV,0,0,26000011,26000015,26000026,26000047,26000062,...,30,1,26000030,26000044,26000051,26000074,26000085,28000014,28000016,28000018
8,20230414T000001.000Z,72000333,9GUQJ9LJQ,0,0,26000018,26000019,26000027,26000042,26000054,...,30,1,26000002,26000044,26000055,26000056,26000063,27000005,28000009,28000018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786379,20230417T235959.000Z,72000333,8Y9RCRJPQ,0,0,26000028,26000045,26000053,26000077,27000010,...,30,1,26000011,26000018,26000041,26000056,26000057,26000062,26000072,28000008
786380,20230417T235959.000Z,72000333,GGYYLP2L,0,0,26000001,26000010,26000013,26000028,26000030,...,30,1,26000005,26000009,26000016,26000043,26000083,28000007,28000008,28000015
786381,20230417T235959.000Z,72000333,GRQCJ99,30,2,26000005,26000012,26000025,26000032,26000053,...,0,0,26000016,26000018,26000024,26000043,26000051,28000000,28000005,28000009
786382,20230417T235959.000Z,72000333,PVPJPQQG,0,0,26000007,26000015,26000025,26000027,26000049,...,30,1,26000018,26000020,26000024,26000045,26000072,27000012,28000007,28000017
786383,20230417T235959.000Z,72000333,PVRCYL2P,0,0,26000001,26000013,26000032,26000072,27000005,...,30,3,26000007,26000016,26000021,26000042,26000044,26000051,28000001,28000003

In [40]:
# Altering the data so that these two columns display whether player1 won (1) and whether player2 won (1). 

df_draft["p1result"] = np.where(df_draft['p1crowns'] > df_draft['p2crowns'], 1, 0)
df_draft["p2result"] = np.where(df_draft['p2crowns'] > df_draft['p1crowns'], 1, 0)

/var/folders/k5/frt5sy_s1ng6fxz32_4sqkc00000gn/T/ipykernel_42343/1648582993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_draft["p1result"] = np.where(df_draft['p1crowns'] > df_draft['p2crowns'], 1, 0)
/var/folders/k5/frt5sy_s1ng6fxz32_4sqkc00000gn/T/ipykernel_42343/1648582993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_draft["p2result"] = np.where(df_draft['p2crowns'] > df_draft['p1crowns'], 1, 0)

In [41]:
df_draft

,datetime,gamemode,p1tag,p1trophies,p1crowns,p1card1,p1card2,p1card3,p1card4,p1card5,...,p2card1,p2card2,p2card3,p2card4,p2card5,p2card6,p2card7,p2card8,p1result,p2result
1,20230414T000000.000Z,72000333,82UCRRL9,30,1,26000007,26000016,26000034,26000044,26000080,...,26000006,26000021,26000025,26000074,27000012,28000000,28000011,28000012,1,0
2,20230414T000000.000Z,72000333,98890C8GQ,0,0,26000007,26000012,26000021,26000053,27000003,...,26000002,26000006,26000028,26000031,26000040,26000069,27000004,28000009,0,1
3,20230414T000000.000Z,72000333,992JPJCU9,0,0,26000020,26000021,26000054,26000072,26000087,...,26000007,26000011,26000019,26000025,26000050,26000053,26000069,28000003,0,1
4,20230414T000000.000Z,72000333,PRGPPY2QV,0,0,26000011,26000015,26000026,26000047,26000062,...,26000030,26000044,26000051,26000074,26000085,28000014,28000016,28000018,0,1
8,20230414T000001.000Z,72000333,9GUQJ9LJQ,0,0,26000018,26000019,26000027,26000042,26000054,...,26000002,26000044,26000055,26000056,26000063,27000005,28000009,28000018,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786379,20230417T235959.000Z,72000333,8Y9RCRJPQ,0,0,26000028,26000045,26000053,26000077,27000010,...,26000011,26000018,26000041,26000056,26000057,26000062,26000072,28000008,0,1
786380,20230417T235959.000Z,72000333,GGYYLP2L,0,0,26000001,26000010,26000013,26000028,26000030,...,26000005,26000009,26000016,26000043,26000083,28000007,28000008,28000015,0,1
786381,20230417T235959.000Z,72000333,GRQCJ99,30,2,26000005,26000012,26000025,26000032,26000053,...,26000016,26000018,26000024,26000043,26000051,28000000,28000005,28000009,1,0
786382,20230417T235959.000Z,72000333,PVPJPQQG,0,0,26000007,26000015,26000025,26000027,26000049,...,26000018,26000020,26000024,26000045,26000072,27000012,28000007,28000017,0,1
786383,20230417T235959.000Z,72000333,PVRCYL2P,0,0,26000001,26000013,26000032,26000072,27000005,...,26000007,26000016,26000021,26000042,26000044,26000051,28000001,28000003,0,1

In [42]:
# Combining the information for both players, into 1 dataframe. Such that each row of a dataframe represents 1 player and their results. 

df_draft1 = df_draft[["datetime", "gamemode", "p1tag", "p1trophies", "p1crowns", "p1card1", "p1card2", "p1card3", "p1card4", "p1card5", "p1card6", "p1card7", "p1card8", "p1result"]]
df_draft2 = df_draft[["datetime", "gamemode", "p2tag", "p2trophies", "p2crowns", "p2card1", "p2card2", "p2card3", "p2card4", "p2card5", "p2card6", "p2card7", "p2card8", "p2result"]]

df_draft1.columns = ["datetime", "gamemode", "ptag", "ptrophies", "pcrowns", "pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8", "presult"]
df_draft2.columns = ["datetime", "gamemode", "ptag", "ptrophies", "pcrowns", "pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8", "presult"]

In [45]:
# Combining the dataframes
df_draft_revised = pd.concat([df_draft1, df_draft2])

In [46]:
df_draft_revised

,datetime,gamemode,ptag,ptrophies,pcrowns,pcard1,pcard2,pcard3,pcard4,pcard5,pcard6,pcard7,pcard8,presult
1,20230414T000000.000Z,72000333,82UCRRL9,30,1,26000007,26000016,26000034,26000044,26000080,27000010,28000001,28000009,1
2,20230414T000000.000Z,72000333,98890C8GQ,0,0,26000007,26000012,26000021,26000053,27000003,28000005,28000008,28000014,0
3,20230414T000000.000Z,72000333,992JPJCU9,0,0,26000020,26000021,26000054,26000072,26000087,27000000,28000009,28000015,0
4,20230414T000000.000Z,72000333,PRGPPY2QV,0,0,26000011,26000015,26000026,26000047,26000062,26000077,27000001,28000011,0
8,20230414T000001.000Z,72000333,9GUQJ9LJQ,0,0,26000018,26000019,26000027,26000042,26000054,26000059,27000000,28000011,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786379,20230417T235959.000Z,72000333,2C800VPCG,30,1,26000011,26000018,26000041,26000056,26000057,26000062,26000072,28000008,1
786380,20230417T235959.000Z,72000333,8Y92R880,30,1,26000005,26000009,26000016,26000043,26000083,28000007,28000008,28000015,1
786381,20230417T235959.000Z,72000333,GPPRCUY2J,0,0,26000016,26000018,26000024,26000043,26000051,28000000,28000005,28000009,0
786382,20230417T235959.000Z,72000333,2U928UCYL,30,1,26000018,26000020,26000024,26000045,26000072,27000012,28000007,28000017,1
786383,20230417T235959.000Z,72000333,P820QVLRQ,30,3,26000007,26000016,26000021,26000042,26000044,26000051,28000001,28000003,1

In [52]:
# Creating boolean variables, whether certain spells are part of a player's deck. 

df_draft_revised['fireball_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000000).any(axis=1).astype(int)
df_draft_revised['arrows_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000001).any(axis=1).astype(int)
df_draft_revised['rage_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000002).any(axis=1).astype(int)
df_draft_revised['rocket_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000003).any(axis=1).astype(int)
df_draft_revised['freeze_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000005).any(axis=1).astype(int)
df_draft_revised['lightning_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000007).any(axis=1).astype(int)
df_draft_revised['zap_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000008).any(axis=1).astype(int)
df_draft_revised['poison_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000009).any(axis=1).astype(int)
df_draft_revised['the_log_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000011).any(axis=1).astype(int)
df_draft_revised['tornado_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000012).any(axis=1).astype(int)
df_draft_revised['earthquake_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000014).any(axis=1).astype(int)
df_draft_revised['barbarian_barrel_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000015).any(axis=1).astype(int)
df_draft_revised['snowball_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000017).any(axis=1).astype(int)
df_draft_revised['royal_delivery_bool'] = df_draft_revised[["pcard1", "pcard2", "pcard3", "pcard4", "pcard5", "pcard6", "pcard7", "pcard8"]].eq(28000018).any(axis=1).astype(int)

In [53]:
df_draft_revised

,datetime,gamemode,ptag,ptrophies,pcrowns,pcard1,pcard2,pcard3,pcard4,pcard5,...,freeze_bool,lightning_bool,zap_bool,poison_bool,the_log_bool,tornado_bool,earthquake_bool,barbarian_barrel_bool,snowball_bool,royal_delivery_bool
1,20230414T000000.000Z,72000333,82UCRRL9,30,1,26000007,26000016,26000034,26000044,26000080,...,0,0,0,1,0,0,0,0,0,0
2,20230414T000000.000Z,72000333,98890C8GQ,0,0,26000007,26000012,26000021,26000053,27000003,...,1,0,1,0,0,0,1,0,0,0
3,20230414T000000.000Z,72000333,992JPJCU9,0,0,26000020,26000021,26000054,26000072,26000087,...,0,0,0,1,0,0,0,1,0,0
4,20230414T000000.000Z,72000333,PRGPPY2QV,0,0,26000011,26000015,26000026,26000047,26000062,...,0,0,0,0,1,0,0,0,0,0
8,20230414T000001.000Z,72000333,9GUQJ9LJQ,0,0,26000018,26000019,26000027,26000042,26000054,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786379,20230417T235959.000Z,72000333,2C800VPCG,30,1,26000011,26000018,26000041,26000056,26000057,...,0,0,1,0,0,0,0,0,0,0
786380,20230417T235959.000Z,72000333,8Y92R880,30,1,26000005,26000009,26000016,26000043,26000083,...,0,1,1,0,0,0,0,1,0,0
786381,20230417T235959.000Z,72000333,GPPRCUY2J,0,0,26000016,26000018,26000024,26000043,26000051,...,1,0,0,1,0,0,0,0,0,0
786382,20230417T235959.000Z,72000333,2U928UCYL,30,1,26000018,26000020,26000024,26000045,26000072,...,0,1,0,0,0,0,0,0,1,0
786383,20230417T235959.000Z,72000333,P820QVLRQ,30,3,26000007,26000016,26000021,26000042,26000044,...,0,0,0,0,0,0,0,0,0,0

In [69]:
# Taking the columns we care about 
df_draft_rev_select = df_draft_revised[["presult", "ptag", "fireball_bool", "arrows_bool", "rage_bool", "rocket_bool", "freeze_bool", "lightning_bool", "zap_bool", "poison_bool", "the_log_bool", "tornado_bool", "earthquake_bool", "barbarian_barrel_bool", "snowball_bool", "royal_delivery_bool"]]

In [70]:
df_draft_rev_select

,presult,ptag,fireball_bool,arrows_bool,rage_bool,rocket_bool,freeze_bool,lightning_bool,zap_bool,poison_bool,the_log_bool,tornado_bool,earthquake_bool,barbarian_barrel_bool,snowball_bool,royal_delivery_bool
1,1,82UCRRL9,0,1,0,0,0,0,0,1,0,0,0,0,0,0
2,0,98890C8GQ,0,0,0,0,1,0,1,0,0,0,1,0,0,0
3,0,992JPJCU9,0,0,0,0,0,0,0,1,0,0,0,1,0,0
4,0,PRGPPY2QV,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,9GUQJ9LJQ,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786379,1,2C800VPCG,0,0,0,0,0,0,1,0,0,0,0,0,0,0
786380,1,8Y92R880,0,0,0,0,0,1,1,0,0,0,0,1,0,0
786381,0,GPPRCUY2J,1,0,0,0,1,0,0,1,0,0,0,0,0,0
786382,1,2U928UCYL,0,0,0,0,0,1,0,0,0,0,0,0,1,0
786383,1,P820QVLRQ,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [71]:
# Demographic data

df_demog = pd.read_csv("players.csv")

In [72]:
df_demog

,name_pais,name,tag,rank,expLevel,trophies,name_clan,tag_clan,id_arena,name_arena
0,Afghanistan,f34r,#2UQ99VLU2,1,13,6148,PhatKatz,#G9LGQR,54000015,Master I
1,Afghanistan,Ķìňğ Ãìmãĺ,#QJRU92L,2,13,6005,God of War,#V2RUJ88,54000015,Master I
2,Afghanistan,L☯️I☯️Y☯️A☯️M,#800CLLPU8,3,13,5988,اسیرسرنوشت,#L2CC2L9C,54000015,Master I
3,Afghanistan,FRAIDOON ISHAQ,#9LLLJP8C,4,13,5920,Afghanistan,#PGV80J0P,54000014,Challenger III
4,Afghanistan,⚡king behzad⚡,#P9VLCU8Y9,5,13,5912,Delta Force,#LR8P9L8C,54000014,Challenger III
...,...,...,...,...,...,...,...,...,...,...
167228,Zimbabwe,SethyPlayz,#QQ2U8JCP8,397,2,30,NaN,NaN,54000001,Arena 1
167229,Zimbabwe,kingkong,#R0G2RYCJ2,398,2,30,NaN,NaN,54000001,Arena 1
167230,Zimbabwe,Lord Gargamel,#Y8Y2Y0PV0,399,2,29,NaN,NaN,54000001,Arena 1
167231,Zimbabwe,mattm8,#J089J0YCG,400,2,29,join,#YRUUY0C0,54000001,Arena 1
167232,Zimbabwe,sipoko,#R2U8RG0R8,401,2,28,NaN,NaN,54000001,Arena 1

In [73]:
# Removing the # in the 'tag' column, in order to merge dataframes by player id
df_demog['ptag'] = df_demog['tag'].str.replace('#', '')

In [74]:
df_demog

,name_pais,name,tag,rank,expLevel,trophies,name_clan,tag_clan,id_arena,name_arena,ptag
0,Afghanistan,f34r,#2UQ99VLU2,1,13,6148,PhatKatz,#G9LGQR,54000015,Master I,2UQ99VLU2
1,Afghanistan,Ķìňğ Ãìmãĺ,#QJRU92L,2,13,6005,God of War,#V2RUJ88,54000015,Master I,QJRU92L
2,Afghanistan,L☯️I☯️Y☯️A☯️M,#800CLLPU8,3,13,5988,اسیرسرنوشت,#L2CC2L9C,54000015,Master I,800CLLPU8
3,Afghanistan,FRAIDOON ISHAQ,#9LLLJP8C,4,13,5920,Afghanistan,#PGV80J0P,54000014,Challenger III,9LLLJP8C
4,Afghanistan,⚡king behzad⚡,#P9VLCU8Y9,5,13,5912,Delta Force,#LR8P9L8C,54000014,Challenger III,P9VLCU8Y9
...,...,...,...,...,...,...,...,...,...,...,...
167228,Zimbabwe,SethyPlayz,#QQ2U8JCP8,397,2,30,NaN,NaN,54000001,Arena 1,QQ2U8JCP8
167229,Zimbabwe,kingkong,#R0G2RYCJ2,398,2,30,NaN,NaN,54000001,Arena 1,R0G2RYCJ2
167230,Zimbabwe,Lord Gargamel,#Y8Y2Y0PV0,399,2,29,NaN,NaN,54000001,Arena 1,Y8Y2Y0PV0
167231,Zimbabwe,mattm8,#J089J0YCG,400,2,29,join,#YRUUY0C0,54000001,Arena 1,J089J0YCG
167232,Zimbabwe,sipoko,#R2U8RG0R8,401,2,28,NaN,NaN,54000001,Arena 1,R2U8RG0R8

In [75]:
# Merging our previous dataframe with demographic data

df_merged = pd.merge(df_draft_rev_select, df_demog[["ptag", "expLevel", "trophies"]], on = "ptag", how = "inner")

In [76]:
df_merged

,presult,ptag,fireball_bool,arrows_bool,rage_bool,rocket_bool,freeze_bool,lightning_bool,zap_bool,poison_bool,the_log_bool,tornado_bool,earthquake_bool,barbarian_barrel_bool,snowball_bool,royal_delivery_bool,expLevel,trophies
0,0,PRQJRGJ8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13,5518
1,1,P2C2CCQ2V,0,0,0,0,0,0,0,0,0,0,0,1,0,0,13,6487
2,1,9JVCJ92V9,1,0,0,0,0,0,0,0,1,0,0,0,0,0,13,6600
3,1,Y82RVYPC8,0,1,1,0,0,0,0,1,0,0,0,0,0,0,13,5695
4,1,Y89UL2JL,0,0,0,0,0,0,0,1,0,0,0,0,0,0,13,5885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306241,0,22GL0VJQJ,0,1,0,0,0,0,0,0,1,0,1,0,0,0,13,5987
306242,1,2LJJQYJ8J,0,0,0,0,0,0,1,0,0,0,0,0,0,0,13,6005
306243,1,2RRV98JU8,0,0,0,0,0,1,1,0,0,0,0,1,1,0,13,5793
306244,0,2PQ8VGCUL,1,0,0,0,0,0,0,0,0,0,0,1,0,0,13,5924
306245,1,2899RCU28,0,0,0,0,0,0,0,1,0,0,1,1,0,0,13,6082

In [77]:
# Exporting the data, which is used in Econ143.ipynb. for analysis. 

df_merged.to_csv("triple_draft_data.csv")